{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтверждение выхода" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row centered" style= "width: 1710px;">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>{% trans "Sign Out" %}</h1>

            {% trans 'Вы действительно хотите выйти?' %}
            <br><br>

            <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit">{% trans 'Выйти' %}</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}